
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Data from my DB</h1>

    <div>
        @Html.ActionLink("Show cities", "", "")
    </div>
    <div>
        @Html.ActionLink("Show client", "", "")
    </div>

    <p>Résultats du sondage :</p>
    <div id="tableResult">
        @{
            Html.RenderAction("_ShowCity");
        }
        @{
            Html.RenderAction("_ShowClient");
        }
    </div>
    @Ajax.ActionLink("Show Cities", "_ShowCity", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "tableResult",
        HttpMethod = "POST"
    })

    @Ajax.ActionLink("Show Clients", "_ShowClient", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "tableResult",
        HttpMethod = "POST"
    })

    <script>
        $(document).ready(function () {
            $("#HelloButton").click(function () {
                $('#HelloButton').html.;
            });
        });
    </script>
    

    <p>@DateTime.Now</p>
</body>
</html>
